.puzzle {
  margin: 40px 10%;
  height: 516px;
  width: 600px;
  border: 1px solid black;
  display: flex;
  flex-flow: row wrap;
}

div[class^='square'] {
  font-family: 'Monoton', cursive;
  background: #ffff00;
  height: 127px;
  width: 24.4%;
  border: 1px solid black;
  position: relative;
  
}
div .square16 {
  background-color: lightgray;
}
div .square-blank {
  background-color: white;
  color: white;
}




.text {
  position: absolute;
  font-family: 'Monoton', cursive;
  left: 15px;
  top: 10px
}
