.puzzle {
  margin: 40px 10%;
  height: 516px;
  width: 600px;
  border: 1px solid black;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-image: url('./BLM.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  
}

div[class^='square'] {
  font-family: 'Monoton', cursive;
  font-size: x-large;
  text-align: center;
  background-color: black;
  height: 127px;
  width: 24.4%;
  border: 1px solid black;
  position: relative;
  color: white;

}
div .square16 {
  background-color: lightgray;
}
div .square-blank {
  background-color: white;
  color: white;
}





