div .square1{
  position: relative;
  background-image: url('./../../images/road.jpg');
  background-position: 0px 0px;
}
div .square4{

  background-image: url('./../../images/road.jpg');
  background-position: -500px -500px;
}